//others
$borderRadius: 1em;
//default
//recipe-wrap
$recipeWrap-width: 100%;
$recipeWrap-padding: 2em;
$recipeWrap-borderRadius: 0; //1.5
$recipeWrap-img-borderRadius: 1em;
$recipeWrap-headingTitle-margin: 1em;
$recipeWrap-headingTitle-fontSize: 2.4rem;

//preparation-wrap
$preparationWrap-padding: 1.5em;
$preparationWrap-margin: 2em;
$preparationWrap-lineHeight: 1.5em;
$preparationWrap-title-marginBottom: 0.5em;
$preparationWrap-title-fontSize: 1.3rem;

//ingredient-section, instructions-wrap, preparation-wrap
$list-marginLeft: 1em;
$list-listElement-marginBottom: 1em;

//nutrition-section
$nutritionSection-description-marginBottom: 1em;